 * {
  font-family: Verdana, Arial, Helvetica;
}

body {
  background: #C28250 url(/images/cork.jpg) repeat;
}

a {
  color: #000;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

.clear {
  clear:both;
}

.note {
  position:absolute;
  margin: 3px;
  width: 182px;
  min-height: 145px;
  display: block;
  padding-left: 15px;
  padding-top: 13px;
  padding-right:17px;
  padding-bottom:19px;
}

.note_body {
  font-size: 0.7em;
  background: url(/images/note-body.png) repeat-y;
  width:150px;
  padding:8px 16px;
}

.note_title {
  background: url(/images/note-head.png) no-repeat;
  height:16px;
  display:block;
  font-weight: 600;
  font-size:0.9em;
  padding:11px 15px;
}

.note_foot {
  background: url(/images/note-foot.png) no-repeat bottom;
  width:172px;
  padding:0px 5px;
  height:75px;
}

.note_actions {
  position:relative;
  float:right;
  top:4.5em;
  right:1.85em;
  font-size: 0.6em;
  font-weight: 600;
}

.note_actions span {
  display:inline-block; 
  padding: 0 4px;
  margin:0;
}

.edit {
  /*background: #8f8;*/
}

.minimize {
  /*background: #88f;*/
}

.delete {
  /*background: #f88;*/
}

#hidden_notes {
  list-style-type:none; 
  margin:0;
  padding:0;
  position:absolute;
  bottom:5px;
}

#hidden_notes li {
  display:inline;
  padding: 0 10px;
  margin: 0 2px;
  background:#FAE979; 
  border: 2px solid #000;
  font-weight: 600;
}

#hidden_notes li.hover {
  background: #fef;
} 

#new_note {
  width:300px;
  margin: 0 auto;
  border: 1px solid #fff;
  padding: 3px 10px;
}

.new_note_btn {
  background: url(/images/new_note_btn.png) 157px 0;
  display: block;
  height: 47px;
  width: 157px;
}

.new_note_btn:hover {
  background: url(/images/new_note_btn.png) 314px 0;
}

.new_note_btn:active {
  background: url(/images/new_note_btn.png) 0px 0;
}

.trash_bin {
  position: absolute;
  bottom: 30px;
  right: 15px;
}
