<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Notes: index</title>
    <link href="../../../../public/stylesheets/notlr.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../../../../public/stylesheets/tooltips.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../../../../public/stylesheets/modalbox.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="../../../../public/javascripts/prototype.js" type="text/javascript"></script>

    <script src="../../../../public/javascripts/effects.js" type="text/javascript"></script>
    <script src="../../../../public/javascripts/dragdrop.js" type="text/javascript"></script>
    <script src="../../../../public/javascripts/controls.js" type="text/javascript"></script>
    <script src="../../../../public/javascripts/application.js" type="text/javascript"></script>
    <script src="../../../../public/javascripts/builder.js" type="text/javascript"></script>
    <script src="../../../../public/javascripts/modalbox.js" type="text/javascript"></script>
    <script src="../../../../public/javascripts/tooltips.js" type="text/javascript"></script>
  </head>
  <body> 
    <p style="color: green"></p> 
    <a class="new_note_btn" href="#" onclick="Modalbox.show('new.html', {title: 'Create a new Note'}); return false;"></a> 
    <br class="clear" />                                                                       
    <div id="shown_notes"> 
      <div class="note normal" id="note_1012969249" style="display:none; left:70px; top:157px;">  <div class="note_title">Note 10</div>
        <div class="note_body">Testing the disable button!</div>
        <div class="note_foot">
          <div class="note_actions" style="display:none">
            <span class="minimize"><a href="#">Hide</a></span> 
          </div>
        </div>
      </div> 
    </div> 
    <ul id="hidden_notes"></ul>
    <input id="auth_token" name="auth_token" type="hidden" value="5Pccm1ftYrjIPU2UxNHBsya92QCComN3k259ugW/OS0=" /> 
    <div id="new_note_form"></div>
    <img alt="Trash" class="trash_bin" id="trash" src="/images/Trash.png" /> 
  </body>
</html>

